{% extends 'main.html'%}

{% block content %}

<section id="billboard">

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <button class="prev slick-arrow">
          <i class="icon icon-arrow-left"></i>
        </button>

        <div class="main-slider pattern-overlay">
          {% include 'base/cover_slider.html' with books=coverBooks %}
        </div><!--slider-->

        <button class="next slick-arrow">
          <i class="icon icon-arrow-right"></i>
        </button>

      </div>
    </div>
  </div>

</section>

<section id="featured-books" class="py-5 my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="section-header align-center">
          <div class="title">
            <span>Some quality items</span>
          </div>
          <h2 class="section-title">Featured Books</h2>
        </div>

        {% include 'base/list_books.html' with books=books%}


      </div><!--inner-content-->
    </div>

    <div class="row">
      <div class="col-md-12">

        <div class="btn-wrap align-right">
          <a href="/books" class="btn-accent-arrow">View all products <i
              class="icon icon-ns-arrow-right"></i></a>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="best-selling" class="leaf-pattern-overlay">
  <div class="corner-pattern-overlay"></div>
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-md-8">

        <div class="row">

          <div class="col-md-6">
            <figure class="products-thumb">
              <img src="{{bestSelling.url}}" alt="book" class="single-image">
            </figure>
          </div>

          <div class="col-md-6">
            <div class="product-entry">
              <h2 class="section-title divider">Best Selling Book</h2>

              <div class="products-content">
                <div class="author-name">{{bestSelling.author}}</div>
                <h3 class="item-title">{{bestSelling.name}}</h3>
                <p>{{bestSelling.description}}</p>
                <div class="item-price">$ {{bestSelling.price}}</div>
                <div class="btn-wrap">
                  <a href="/book/{{bestSelling.id}}" class="btn-accent-arrow">shop it now <i
                      class="icon icon-ns-arrow-right"></i></a>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- / row -->

      </div>

    </div>
  </div>
</section>

<section id="popular-books" class="bookshelf py-5 my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="section-header align-center">
          <div class="title">
            <span>Some quality items</span>
          </div>
          <h2 class="section-title">Popular Books</h2>
        </div>

        <ul class="tabs">
          <li data-tab-target="#all-genre" class="active tab">All Genre</li>
          <li data-tab-target="#non-fiction" class="tab">Non-fiction</li>
          <li data-tab-target="#technology" class="tab">Technology</li>
          <li data-tab-target="#romantic" class="tab">Romantic</li>
          <li data-tab-target="#adventure" class="tab">Adventure</li>
          <li data-tab-target="#fantasy" class="tab">Fantasy</li>
        </ul>

        <div class="tab-content">
          
           <div id="all-genre" data-tab-content class="active">
            {% include 'base/list_books.html' with books=books%}
          </div>

          <div id="non-fiction" data-tab-content>
            {% include 'base/list_books.html' with books=booksByGenre.non_fiction%}
          </div>

          <div id="technology" data-tab-content>
            {% include 'base/list_books.html' with books=booksByGenre.technology%}
          </div>

          <div id="romantic" data-tab-content>
            {% include 'base/list_books.html' with books=booksByGenre.romance %}
          </div>

          <div id="adventure" data-tab-content>
            {% include 'base/list_books.html' with books=booksByGenre.adventure %}
          </div>

          <div id="fantasy" data-tab-content>
            <div class="row">
              {% include 'base/list_books.html' with books=booksByGenre.fantasy %}
            </div>
          </div>

        </div>

      </div><!--inner-tabs-->

    </div>
  </div>
</section>

<section id="quotation" class="align-center pb-5 mb-5">
  <div class="inner-content">
    <h2 class="section-title divider">Quote of the day</h2>
    <blockquote data-aos="fade-up">
      <q>{{quoteOfTheDay}}</q>
      <div class="author-name">{{quotee}}</div>
    </blockquote>
  </div>
</section>

<section id="special-offer" class="bookshelf pb-5 mb-5">

  <div class="section-header align-center">
    <div class="title">
      <span>Grab your opportunity</span>
    </div>
    <h2 class="section-title">Books with offer</h2>
  </div>
  {% include 'base/list_books.html' with books=discountedBooks%}
</section>

<section id="subscribe">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-md-8">
        <div class="row">

          <div class="col-md-6">

            <div class="title-element">
              <h2 class="section-title divider">Subscribe to our newsletter</h2>
            </div>

          </div>
          <div class="col-md-6">

            <div class="subscribe-content" data-aos="fade-up">
              <p>Sed eu feugiat amet, libero ipsum enim pharetra hac dolor sit amet, consectetur. Elit
                adipiscing enim pharetra hac.</p>
              <form id="form">
                <input type="text" name="email" placeholder="Enter your email addresss here">
                <button class="btn-subscribe">
                  <span>send</span>
                  <i class="icon icon-send"></i>
                </button>
              </form>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</section>


{% endblock content %}