{% extends 'main.html'%}

{% block content %}

<div class="d-flex flex-column justify-content-center text-center" id="vision-box-vision">
  <div class="vision-text">
    <h2> Vision </h2>
    At BookSaw, our vision is to create a vibrant community hub that celebrates diverse voices, nurtures lifelong learning, and fosters meaningful connections. We aim to inspire a passion for reading through a curated selection of books and engaging events, while embracing sustainability and innovation.
    Our knowledgeable staff is dedicated to helping every customer discover the transformative power of books, making us more than just a bookstore, but a sanctuary for book lovers and a catalyst for creativity.
  </div>
</div>
{% endblock content %}